{% extends "dashboard/css.html" %}
{% load widget_tweaks %}

{% block title %}Posting{% endblock %}

{% block content %}

<table class="w-full border-collapse shadow rounded-lg overflow-hidden">
    <!-- Header -->
    <thead class="bg-blue-500 text-3xl font-semibold text-white">
        <tr>
            <th class="p-2 border">Ser</th>
            <th class="p-2 border">No</th>
            <th class="p-2 border">Rank</th>
            <th class="p-2 border">Name</th>
            <th class="p-2 border">Force</th>
            <th class="p-2 border">Company</th>
            <th class="p-2 border">Phone</th>
            <th class="p-2 border">Email</th>
            <th class="p-2 border">Detail</th>
            <th class="p-2 border">Action</th>
        </tr>
    </thead>

    <tbody>
    {% for force in all_force %}
        <tr class="bg-white text-lg hover:bg-blue-50">
            <td class="p-2 border">{{ forloop.counter }}</td>
            <td class="p-2 border">{{ force.no }}</td>
            <td class="p-2 border">{{ force.rank}}</td>
            <td class="p-2 border font-semibold">{{ force.name }}</td>
            <td class="p-2 border">{{ force.force}}</td>
             <td class="p-2 border">{{ force.get_company_display }}</td>
            <td class="p-2 border">{{ force.phone }}</td>
            <td class="p-2 border">{{ force.email }}</td>

            <!-- View Button -->
            <td class="p-2 border text-center">
                <a href="{% url 'force_detail' force.id %}" 
                   class="bg-blue-500 text-white px-3 py-1 rounded-md hover:bg-blue-600">
                    View
                </a>
            </td>

            <!-- Action Button -->
            <td class="p-2 border text-center">
                Send
               
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="10" class="text-center p-4 text-gray-500">No records found.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
