{% extends "dashboard/css.html" %} 

{% load widget_tweaks %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<main class="max-w-[1400px] mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-4  sm:grid-cols-2 gap-6">
   {% comment %} <div class="grid grid-cols-4 gap-6"> {% endcomment %}
    <!-- CPC-1 -->
    <div class="bg-green-100 text-green-800 text-2xl font-semibold px-8 py-6 rounded-3xl shadow-md border border-blue-800 hover:shadow-lg hover:scale-200 transition-transform duration-300">
      <h3 class="text-4xl font-bold mb-2">CPC-1</h3>
      <div class="flex justify-between items-start">
        <div>
          <p class="font-medium">Position</p>
          <p>Sector-2, Uttara, Dhaka-1230</p>
        </div>
        <div class="p-4 rounded-full shadow-md bg-sky-400 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-rose-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
          </svg>
        </div>
      </div>
    </div>

    <!-- CPC-2 -->
    <div class="bg-blue-100 text-blue-800 text-2xl font-semibold px-8 py-6 rounded-2xl shadow-md border border-blue-200 hover:shadow-lg hover:scale-105 transition-transform duration-300">
      <h3 class="text-4xl font-bold mb-2">CPC-2</h3>
      <div class="flex justify-between items-start">
        <div>
          <p class="font-medium">Position</p>
          <p>Sector-2, Uttara, Dhaka-1230</p>
        </div>
        <div class="p-4 rounded-full shadow-md bg-blue-200 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-blue-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
          </svg>
        </div>
      </div>
    </div>

    <!-- CPC-3 -->
    <div class="bg-green-100 text-green-800 text-2xl font-semibold px-8 py-6 rounded-2xl shadow-md border border-green-200 hover:shadow-lg hover:scale-105 transition-transform duration-300">
      <h3 class="text-4xl font-bold mb-2">CPC-3</h3>
      <div class="flex justify-between items-start">
        <div>
          <p class="font-medium">Position</p>
          <p>Rooppur, Purbachal, Narayanganj</p>
        </div>
        <div class="p-4 rounded-full shadow-md bg-green-200 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-green-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
          </svg>
        </div>
      </div>
    </div>

    <!-- CPSC -->
    <div class="bg-blue-100 text-blue-800 text-2xl font-semibold px-8 py-6 rounded-2xl shadow-md border border-yellow-200 hover:shadow-lg hover:scale-105 transition-transform duration-300">
      <h3 class="text-4xl font-bold mb-2">CPSC</h3>
      <div class="flex justify-between items-start">
        <div>
          <p class="font-medium">Position</p>
          <p>Some Address</p>
        </div>
        <div class="p-4 rounded-full shadow-md bg-yellow-200 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-yellow-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
          </svg>
        </div>
      </div>
    </div>

    <!-- HQ -->
    <div class="bg-green-100 text-green-800 text-2xl font-semibold px-8 py-6 rounded-2xl shadow-md border border-indigo-200 hover:shadow-lg hover:scale-105 transition-transform duration-300">
      <h3 class="text-4xl font-bold mb-2">HQ</h3>
      <div class="flex justify-between items-start">
        <div>
          <p class="font-medium">Position</p>
          <p>Main Headquarters</p>
        </div>
        <div class="p-4 rounded-full shadow-md bg-indigo-200 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
          </svg>
        </div>
      </div>
    </div>

    <!-- Bn HQ -->
    <div class="bg-blue-100 text-blue-800 text-2xl font-semibold px-8 py-6 rounded-2xl shadow-md border border-pink-200 hover:shadow-lg hover:scale-105 transition-transform duration-300">
      <a href="{% url 'br' %}">
          <h3 class="text-4xl font-bold mb-2">Bn HQ</h3>
      <div class="flex justify-between items-start">
        <div>
          <p class="font-medium">Position</p>
          <p>Battalion Headquarters</p>
        </div>
          <div class="p-4 rounded-full shadow-md bg-pink-200 flex items-center justify-center">
            <a href="{% url 'force-bio' %}" class="p-4 rounded-full shadow-md bg-pink-200 flex items-center justify-center hover:shadow-lg hover:scale-105 transition-transform duration-300">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-pink-700" 
                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
             </svg>
          </a>
       
        </div>
      </div>
       Go to Bn HQ
      </a>
    </div>

    <!-- ACCT_BR -->
    <div class="bg-green-100 text-green-800 text-2xl font-semibold px-8 py-6 rounded-2xl shadow-md border border-teal-200 hover:shadow-lg hover:scale-105 transition-transform duration-300">
      <h3 class="text-4xl font-bold mb-2">Acct_Br</h3>
      <div class="flex justify-between items-start">
        <div>
          <p class="font-medium">Position</p>
          <p>Accounting Branch</p>
        </div>
        <div class="p-4 rounded-full shadow-md bg-teal-200 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-teal-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
          </svg>
        </div>
      </div>
    </div>

    <!-- RO -->
    <div class="bg-blue-100 text-blue-800 text-2xl font-semibold px-8 py-6 rounded-2xl shadow-md border border-orange-200 hover:shadow-lg hover:scale-105 transition-transform duration-300">
      <h3 class="text-4xl font-bold mb-2">RO</h3>
      <div class="flex justify-between items-start">
        <div>
          <p class="font-medium">Position</p>
          <p>Regional Office</p>
        </div>
        <div class="p-4 rounded-full shadow-md bg-orange-200 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-orange-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
          </svg>
        </div>
      </div>
    </div>

    <!-- MI -->
    <div class="bg-green-100 text-green-800 text-2xl font-semibold px-8 py-6 rounded-2xl shadow-md border border-purple-200 hover:shadow-lg hover:scale-105 transition-transform duration-300">
      <h3 class="text-4xl font-bold mb-2">Mi</h3>
      <div class="flex justify-between items-start">
        <div>
          <p class="font-medium">Position</p>
          <p>Sector-2, Uttara, Dhaka</p>
        </div>
        <div class="p-4 rounded-full shadow-md bg-purple-200 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-purple-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
          </svg>
        </div>
      </div>
    </div>

    <!-- A Branch -->
    <div class="bg-blue-100 text-blue-800 text-2xl font-semibold px-8 py-6 rounded-2xl shadow-md border border-cyan-200 hover:shadow-lg hover:scale-105 transition-transform duration-300">
      <h3 class="text-4xl font-bold mb-2">A Branch</h3>
      <div class="flex justify-between items-start">
        <div>
          <p class="font-medium">Position</p>
          <p>Administrative Branch</p>
        </div>
        <div class="p-4 rounded-full shadow-md bg-cyan-200 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-cyan-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
          </svg>
        </div>
      </div>
    </div>
    
    <!-- MT Sec -->
    <div class="bg-green-100 text-green-800 text-2xl font-semibold px-8 py-6 rounded-2xl shadow-md border border-teal-200 hover:shadow-lg hover:scale-105 transition-transform duration-300">
      <h3 class="text-4xl font-bold mb-2">MT Sce</h3>
      <div class="flex justify-between items-start">
        <div>
          <p class="font-medium">Position</p>
          <p>Driving Section</p>
        </div>
        <div class="p-4 rounded-full shadow-md bg-teal-200 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-teal-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
          </svg>
        </div>
      </div>
    </div>
    
  
  </div>  
</main>
{% endblock content %}
